@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(82, 81, 161);
    font-size: 20px;
}
h1 {
    color: blue;
    background-color: rgba(128, 0, 0, 0.582);
}

h2 {
    color: darkred;
}

p {
    text-align: justify;
}