@charset "UTF-8";

/*
    em HTML é id = em CSS é # (so pode um elemento)
    em HTML é class = em CSS é . (pode varios elementos)
*/

body {
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: rgb(46, 109, 0);
}

h2 {
    color: rgb(19, 155, 17);
}

h1#principal {
    text-align: center;
    color: darkgreen;
    background-color: lightyellow;
    text-transform: uppercase;
    border-radius: 20px;
}

.basico {
    color: green;
}
.intermediario {
    color: #cab91d;
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgba(255, 255, 0, 0.753);
}